/* Estilos personalizados */
body {
    background: linear-gradient(to bottom, #767676, #444444);
    color: #FFC107;
}
nav {
    background-color: #4a4a4a;
    border: solid 1px rgb(58, 57, 57);
}
.section {
    margin-top: 80px;
  }
  
  .jumbotron {
    background-image: url("wallpaper.jpg");
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section {
    text-align: justify;
  }
  .jumbotron h1,
  .jumbotron p {
    color: #eee2e2;
    text-align: center;
  }
  .projetos {
    
    height: auto;
    margin-bottom: 30px;
    background: linear-gradient(to bottom, #dcdcdc, #b9b9b9);
    color: black;
    overflow: auto;
    cursor: pointer;
  }
  .certificados {
    color: black;
    cursor: pointer;
    background: linear-gradient(to bottom, #dcdcdc, #b9b9b9);
    margin: 10px;
  }
  .card-text{
    text-align: left;
  }
  
  footer {
    background: linear-gradient(to bottom, #767676, #444444);
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Estilos do Bootstrap */
  
  .navbar {
    margin-bottom: 30px;
  }
  
  .img-projeto {
    object-fit: cover;
  }
  
  .tecnologias {
    margin-top: 10px;
    justify-items: center;
}

.icons {
  width: 50%;
  min-width: 30px;
  max-width: 60px;
  margin: 10px;
}
